@model MVC_LMS.Models.Reserve

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reserve</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book" class="control-label"></label>
                <select asp-for="BookID" class="form-control" asp-items="ViewBag.BookID"></select>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.BookID)
                @Html.DropDownListFor(m => m.BookID, Model.ProductList, "- Please select -", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BookID)
            </div>*@
            <div class="form-group">
                <label asp-for="ReserveDate" class="control-label"></label>
                <input asp-for="ReserveDate" class="form-control" />
                <span asp-validation-for="ReserveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
