@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-3">Welcome</h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
