@model MVC_LMS.Models.Borrow

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Borrow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CopyID" class="control-label"></label>
                <select asp-for="CopyID" class="form-control" asp-items="ViewBag.CopyID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDate" class="form-control" />
                <span asp-validation-for="BorrowDate" class="text-danger" onchange="change()"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input readonly="readonly" asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fine" class="control-label"></label>
                <input asp-for="Fine" class="form-control" />
                <span asp-validation-for="Fine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script type="text/javascript">
    $('#BorrowDate').change(function () {
        var BorrowDateValue = $("#BorrowDate").val();
        if ($('#BorrowDate').val() == "") {
             $("#DueDate").val("");
        } else {
            var result = new Date(BorrowDateValue);
        result.setDate(result.getDate() + 14);
         var day = ("0" + result.getDate()).slice(-2);
        var month = ("0" + (result.getMonth() + 1)).slice(-2);
        var today2 = result.getFullYear()+"-"+(month)+"-"+(day) ;
        $("#DueDate").val(today2);
        }
        
    });

   
    </script>


}
